<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key = "DepartureCity" value = "Minsk"/>
    <add key = "ArrivalCity" value = "London"/>
    <add key = "FutureDate" value = "2020-11-30"/>
    <add key = "PastDate" value = "2019-12-01"/>
    <add key = "UserLogin" value = "ura.qwav@gmail.com"/>
    <add key = "UserPassword" value ="mc0776246"/>
  </appSettings>
</configuration>
<!--
<add key = "PastDate" value = "2019-12-01"/>
    <add key = "UserLogin" value = "tt5497392@gmail.com"/>
-->