<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key = "DepartureCity" value = "Minsk"/>
    <add key = "ArrivalCity" value = "London"/>
    <add key ="FutureDate" value = "2020-10-31"/>
    <add key ="PastDate" value = "2019-12-01"/>
  </appSettings>
</configuration>
